.wrapper {
  max-width: 100%;
  background: radial-gradient(circle, rgba(64,33,152,1) -10%, rgba(21,14,39,1) 110%)
}

.another {
  width: 100%;
  padding-bottom: 75%;
  position: relative
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}


.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: round;
}