.container {
    width: 9.765625%;
    height: 7.942708333%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #131313;
}

.divider {
    min-height: 1px;
    width: 100%;
    background-color: #1A76E3;
}